<div ng-controller="IntroController">
    <div class="modal fade bs-modal-lg" id="introduction" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">CFM Tour</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-3">
                            <ul class="nav nav-tabs tabs-left">
                                <li class="active">
                                    <a data-target="#tab_6_1" data-toggle="tab"> Welcome </a>
                                </li>
                                <li>
                                    <a data-target="#tab_6_2" data-toggle="tab"> Company setup </a>
                                </li>
                                <li>
                                    <a data-target="#tab_6_3" data-toggle="tab"> Project setup </a>
                                </li>
                                <li>
                                    <a data-target="#tab_6_4" data-toggle="tab"> Users &amp; Roles </a>
                                </li>
                                <li>
                                    <a data-target="#tab_6_5" data-toggle="tab"> Big data </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-9">
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_6_1">
                                    <p>
                                    <p>Congratulations! We have set op your feedback portal.</p>

                                    Hey there, I'm < > , the < >  of CFM and I wanted to personally welcome you onboard and let you know that we are here to help if you need anything.
                                    We have set up a full demo project so you can click through this DEMO and use this in your advatage when setting up. Of course you can always delete the DEMO we have set op.
                                    During your trial, we'll show you how you can start collecting feedback with your customers and make sure you have everything you need to make them happy. Take this tour to see how.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="tab_6_2">
                                    <p>
                                        <p>1 – Company customization</p>

                                        With CFM you are able to customize your online portal with images, logos and coloring.
                                        The more serious stuff like security, portal settings (fixed for every user) can be fully set to your company needs.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="tab_6_3">
                                    <p>
                                    <p>2 – Project customization</p>

                                        You can add multiple e-mail adressen that you can use. You can for instance set up your own e-mail adres for projects to send out feedback requests.
                                        You can also add e-mail adresses for push report, customer communciations in casemanagement or alert mails.
                                        All easy to set up.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="tab_6_4">
                                    <p>
                                    <p>3 – Users & Roles</p>
                                        We believe there should be no limitation to the different roles that can be created for users. Everone is unique and has different skills. Our roles will help your team to adapt the feedback solution easily.
                                        We have roles and every role that you will create can be custimized with acces(atributes).
                                        We have already set you up with some pre-defined roles that you can assign to a user.
                                    </p>
                                </div>
                                <div class="tab-pane fade" id="tab_6_5">
                                    <p>
                                        <p>4- Big data</p>
                                        <p>For usefull feedback and the full power of customer feedback your customer data is crucial. Please do not hesitate to discuss your wishes with our consultants by contacting support@cfm.group.</p>

                                        <p>There are 4 ways to get your data into our system;</p>
                                    <li>Pre build integration/ connections</li>
                                    <li>API to automate the process</li>
                                    <li>CSV or Excel files on a frequent basis</li>
                                    <li>CSV or Excel files import</li>

                                        <p>We provide you with extensive tools to clean, re-order, enrich, categorize and combine your data and datasources.</p>
                                    </p>
                                </div>
                            </div>
                        </div>     
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal" ng-click="toMain()">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</div>


